body {
  margin: 0;
  width: 100%;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: 'Noto Sans';
  src: local('Noto Sans'), url(./fonts/NotoSans-Medium.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf);
}
